<style>
.form {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #bada;
}
strong {
    color: cornflowerblue;
    background-color: #bada55;
}
</style>
<div class="form">
    <h2>Thank you for submitted.</h2>

    <p>Thank you <strong>{{ name|capitalize}}</strong> for submitting your application. We will review your application and get back to you as soon as possible.</p>

    <a href="/">Back to homepage</a>
</div>