<style>
.form {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #bada;
}
strong {
    color: cornflowerblue;
    background-color: #bada55;
}
</style>
<div class="form">
    <h2><strong>{{ name|capitalize }}</strong> you have already submit the contact form.</h2>

    <a href="/">Back to homepage</a>
</div>